/* bootstrap overwriting */
.navbar.myNavbar{
    background-color: var(--bgColor);
}

.navbar-brand.myLink {
    font-weight: bold;
}

.navbar-brand.myLink,
.nav-link.myLink {
    color: var(--white) !important;
    font-weight: bold;
}

.navbar-toggler.myToggle {
    padding: .5em;
    border: none;
}
.navbar-toggler.myToggle:focus {
    outline: none !important;
    box-shadow: none;
}

/* general layout styles */
.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}
.cart-counter {
    color: var(--cremisi);
    font-weight: bold;
}

.content {
    padding-top: 130px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 80px;
}

.footer {
    padding: 40px 10px;
    text-align: center;
    background-color: var(--bgColor);
    color: #fff;
    font-weight: bold;
}
.footer p {
    margin: 0;
}


