/* HOMEPAGE & PRODUCTS */

.product {
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.product:hover {
    cursor: pointer;
}
.product h3 {
    font-size: 1.2em;
    font-weight: bold;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-container .product-img {
    height: 180px;
    width: 100%;
    object-fit: contain;
}

.product-actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: rgba(51, 51, 51, 0.815);
    color: #fff;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.product:hover .product-actions {
    opacity: 1;
}

.product-info-image {
    height: 40vh;
}
.myContainer {
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.vh-80 {
    height: 80vh;
}

.back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.back-btn:hover {
    transform: translateX(-30%);
}

.delete-icon {
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.delete-icon:hover {
    color: red;
}

@-webkit-keyframes loader /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@keyframes loader {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

.loader {
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -ms-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}